<footer>
  <div class="footer-container">
    <div class="footer-icons">
      <a><i class="fa-brands fa-facebook social-icon"></i></a>
      <a><i class="fa-brands fa-instagram social-icon"></i></a>
      <a><i class="fa-brands fa-twitter social-icon"></i></a>
      <a><i class="fa-brands fa-youtube social-icon"></i></a>
    </div>
    <p class="copyright"><i class="far fa-copyright"></i> 2022 - spiritiniLuca</p>
  </div>
</footer>
