<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %> 
    <title>Home Page</title>
  </head>
  <body>
    <%- include('partials/header') %> 

    
    <main>
      <div class="home-main">
        <h1 class="h1-home">Sign in</h1>
        <div class="flexbox-main">
          <button class="main-button"><a href="/users/login">Sign In</a></button>
          <button class="main-button"><a href="/users/register">Register</a></button>
        </div>
      </div>
    </main>
    

    <%- include('partials/footer') %> 
  </body>
</html>
