<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %> 
    <title>Home Page</title>
  </head>

  <body class="index-body">
    <%- include('partials/header') %>
    
    <main class="index-main-container">
      <div class="index-container">
        <h1 class="index-title">Welcome</h1>
        <div class="index-button-container">
          <button class="index-button"><a href="/users/login">Sign In</a></button>
          <button class="index-button"><a href="/users/register">Register</a></button>
        </div>
      </div>
    </main>    

    <%- include('partials/footer') %>
  </body>

</html>
